# IDE
.idea/

# VS Code (if used)
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Build
dist/
build/
*.egg-info/